DB_URL=jdbc:mysql://127.0.0.1:3306/seckill?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&characterEncoding=utf8
DB_USERNAME=seckill
DB_PASSWORD=seckill123
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=0
SECKILL_REDIS_ENABLED=true
SECKILL_RATE_LIMIT_QPS=2000
SECKILL_TOKEN_TTL=2h
